h1 {
    text-align: center;
    color: cornflowerblue;
  }
.home {
    display:flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    height: 500px;
    width: 500px;
}

.oops {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 500px;
    width: 800px;
    text-align: center;
}
img {

    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50vh;
    width: 50vw;
    text-align: center;
}